*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainDiv {
  margin: 0 19%;
  width: 60%;
  height: 100%;
  /* border: 1px solid red; */
  
  /* background-color: black; */
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  background-image: url(images/background1.jpg);
  background-repeat: no-repeat;
  position: relative;
}

.mainDiv::after{
  content: "";
  position: absolute;
  left: 53px;
  top: 52px;
  height: 100%;
  width: 90.3%;
  border: 2px dotted white;
  border-radius: 60px;
}

.div1 {
  height: 628px;
  padding: 110px 100px 0px 150px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  /* background-color: grey; */
  /* clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%); */
  color: white;
  /* border: 1px solid green;  */
}

.slantedDiv {
  position: relative;
  padding: 64px 0px 0px 110px;
  top: -40px;
  left: 0;
  height: 505px;
  transform: skewY(-4.4deg);
  -webkit-transform: skewY(-4.4deg);
  -moz-transform: skewY(-4.4deg);
  -ms-transform: skewY(-4.4deg);
  -o-transform: skewY(-4.4deg);
}

.slantedDiv p {
  transform: skewY(4.4deg);
  -webkit-transform: skewY(4.4deg);
  -moz-transform: skewY(4.4deg);
  -ms-transform: skewY(4.4deg);
  -o-transform: skewY(4.4deg);
}

.div2 {
  background-color: #F1E7DE;
  font-family: 'Ruthie','Sacramento';
  font-size: 30px;
}

.div3 {
  background-color: lightgreen;
  font-family: 'Sacramento';
  font-size: 30px;
}

.article {
  /* width: 60%; */
  margin: 0;
  padding: 0;
}

.article::first-letter {
  -webkit-initial-letter: 4 1;
          initial-letter: 4 1;
  color: black;
  font-weight: normal;
  font-size: 10rem;
  margin: 0;
  padding: 0;
}

.div1 .article {
  color: white;
}

.div1 .article::first-letter {
  -webkit-initial-letter: 4 1;
          initial-letter: 4 1;
  color: white;
  font-weight: normal;
  font-size: 10rem;
  margin: 0;
  padding: 0;
}

.heading2{
  font-size: 20px;
}

.heading3{
  font-size: 20px;
  font-family: monospace;
}

.para1{
  font-size: 15px;
  font-family: monospace;
}


.div4 {
  background-color: lightyellow;
}

.div5 {
  background-color: lightblue;
}

.div6 {
  background-color: #F1E7DE;
}

.div7 {
  background-color: lightgreen;
}

.div8 {
  background-color: lightyellow;
}

.div9 {
  background-color: brown;
}

.div10 {
  /* background-color: lightblue; */
  overflow: hidden;
  height: 350px;
  padding: 45px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

/* .inner-outline {
  outline: 1px dotted white;
  outline-radius:200px;
  outline-offset: -54px;
  border: 1px solid #000;
} */